apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: prometheus
    helm:
      values: |
        alertmanager:
          enabled: false
        pushgateway:
          enabled: false
        server:
          persistentVolume:
            size: "50Gi"
            accessModes:
              - ReadWriteMany   
          retention: "30d"
          extraFlags:
            - storage.tsdb.retention.size=45GB
            - enable-feature=exemplar-storage
            - log.format=logfmt
          resources:
            limits:
              cpu: 1000m
              memory: 2Gi
            requests:
              cpu: 100m
              memory: 1Gi
          service:
            labels:
              kubernetes.io/cluster-service: "true"
              app: prometheus
              app.kubernetes.io/instance: prometheus
              app.kubernetes.io/name: prometheus
          strategy:
            type: Recreate
        nodeExporter:
          resources:
            limits:
              cpu: 200m
              memory: 50Mi
            requests:
              cpu: 10m
              memory: 32Mi
          extraArgs:
            collector.textfile.directory: /host/root/run/prometheus
        kube-state-metrics:
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 32Mi
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 19.x
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true